.container {
  display: flex;
  width: 100%;
}

.item {
  min-width: 100px;
  height: 150px;
}

.green {
  background-color: green;
  flex-grow: 1;
  order: 2;
}

.yellow {
  background-color: yellow;
  flex-grow: 2;
  order: 1;
}

.purple {
  background-color: purple;
  flex-grow: 1;
  order: 0;
}
